body {
	font-family: Optima;
}

.heading-wrapper {
	margin: 20px 0px;
	width: 100%;
	text-align: center;
}

.heading {
	font-size: xx-large;
	font-weight: bold;
}

.abstract-heading,
.technology-heading,
.prototype-heading,
.output-heading {
	font-family: Times New Roman;
	font-size: x-large;
	font-weight: bold;
	margin: 10px 0px;
}

.abstract {
	text-align: justify;
}

.aisight-prototype {
	align-self: center;
	height: 400px;
	width: 500px;
}