nav {
	background-color: #3399FF;
}

a {
	color: white;
}

.image-wrapper {
	height: 200px;
	background-color: #99CCFF;
	text-align: center
}

.personal-image {
	margin-top: 95px; 
 	height: 205px;
	width: 205px;
	border-radius: 50%;
	vertical-align: middle;
	border: 5px solid white;
}

.about-first-row {
	margin: 100px 30px 20px 30px;
}
.name {
	font-size: 40px
}

.tagline-section {
	margin-top: -5px;
}

.introduction-section {
	margin-top: 30px;
	text-align: justify;
	font-size: large;
}

.quote-section {
	font-style: italic;
	font-family: Courier New;
	background-color: #F7F8FA;
	height: 100%;
	text-align: justify;
	padding: 8px;
}

.quote {
	margin: 15px 15px 5px 15px;
}

.author {
	float: right;
}

.links-section {
	margin: 30px 30px 20px 40px;
}

.logo {
	height: 40px;
	width: 40px;
}

.github {
	margin-left: -35px;
}

.stackoverflow {
	margin-left: -75px;
}

.education-row {
	margin-top: 110px;
	height: 100vh;
}

.education-left-pane {
	height: 100%;
	position: relative;
	background-color: #99CCFF;
}

.education-heading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*.masters{
	background-image: url('../Images/SJSU Background.jpg');
	opacity: 0.5
	height: 50%;
	object-fit: cover;
	width: 70%;
	background-repeat: no-repeat;
	color: white;
}*/

.masters, .bachelors {
	margin-top: 140px;
}

.sjsu-logo, .ld-logo {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	margin-left: -75px;
	background-color: white;
	border: 10px solid white;
}

.graduation-cap-image {
	height: 100%;
}

.graduation-cap {
	height: 35px;
	width: 35px;
	margin-left: -70px;
	margin-top: 20px;
}

.university {
	margin-left: -100px;
	margin-top: 10px;
}

.university-name {
	font-size: xx-large;
}

.university-address,
.company-address {
	font-weight: lighter;
}

.graduation-date {
	margin-top: 15px;
}

.degree, .major {
	font-size: large;
}

.skills {
	height: 100vh;
	background-color: #F7F8FA;
}

.skills-heading, .skills {
	margin-top: 50px;
	width: 100%;
}

.skills-header-container {
	width: 100%;
	position: relative;
	height: 25vh;
}

.skills-header {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*display: inline-block;*/
}

.skill {
	margin: 40px 0px 0px 50px;
	background-color: white;
	width: 100%;
	box-shadow: 2px 2px 6px grey;
}

.skills-icon {
	height: 60px;
	text-align: center;
}

.devops-icon,
.ml-icon,
.fullstack-icon,
.others-icon {
	height: 90px;
	width: 90px;
	margin-top: -45px;
}

.skill-heading {
	text-align: center;
}

.main-skills ul {
	list-style: none;
	padding: 10px 20px 10px 10px;
}

.main-skills ul li:before {
	content: '✓';
	color: #99CCFF;
	margin-right: 5px;
}

.skill-logos {
	margin-top: 80px;
}

.skill-logo {
	height: 40px;
	width: 40px;
}

.experience {
	height: 100vh;
}

.experience-border {
	margin: 0px 30px;
}

.main-experience-margin {
	margin-top: 40px;
}

.main-experience {
	background-color: #F7F8FA;
}

.experience-2 {
	margin-top: 10px;
} 

.experience-date {
	text-align: right;
}

.experience-details {
	text-align: justify;
}

.technologies ul li {
	list-style: url('../Images/Arrow.png');
	font-size: 16px;
}

.projects {
	height: 100vh;
	/*background: #99CCFF;*/
}

.project-heading-wrapper,
.experience-heading-wrapper {
	height: 30vh;
	width: 100%;
	background-color: #99CCFF;
	position: relative;
}

.experience-heading-wrapper {
	height: 20vh;
}

.project-heading,
.experience-heading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.project-heading h1,
.experience-heading h1,
.skills-heading h1,
.education-heading h1 {
	font-family: Optima;
}

.projects-list {
	margin-top: 100px;
	/*background-color: #F7F8FA;*/
}

.project {
	position: relative;
	height: 250px;
	width: 100px;
	margin: 10px;
	/*color: white;*/
	background-color: #F7F8FA;
	font-size: large;
}

.project:hover {
	-webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.1);
    box-shadow: 4px 4px 10px grey;
}

.project-name {
	padding-top: 20px;
	text-align: center;
	font-family: times;
	font-weight: bold;
	text-decoration: underline;
	height: 40%;
}

.project-desc {
	position: absolute;
	/*bottom: 5px;*/
	font-size: small;
	font-family: candara;
	text-align: justify;
	margin: 10px;
}