nav {
	background-color: #3399FF;
}

a {
	color: white;
}

.image-wrapper {
	height: 200px;
	background-color: #99CCFF;
	text-align: center
}

.personal-image {
	margin-top: 95px; 
 	height: 205px;
	width: 205px;
	border-radius: 50%;
	vertical-align: middle;
	border: 5px solid white;
}

.about-first-row {
	margin: 100px 30px 20px 30px;
}
.name {
	font-size: 40px
}

.tagline-section {
	margin-top: -5px;
}

.introduction-section {
	margin-top: 30px;
	text-align: justify;
	font-size: large;
}

.quote-section {
	font-style: italic;
	font-family: Courier New;
	background-color: #F7F8FA;
	height: 100%;
	text-align: justify;
	padding: 8px;
}

.quote {
	margin: 15px 15px 5px 15px;
}

.author {
	float: right;
}

.links-section {
	margin: 30px 30px 20px 40px;
}

.logo {
	height: 40px;
	width: 40px;
}

.github {
	margin-left: -35px;
}

.stackoverflow {
	margin-left: -75px;
}

.education-row {
	margin-top: 110px;
	height: 100vh;
}

.education-left-pane {
	height: 100%;
	background-color: #99CCFF;
}

.masters, .bachelors {
	margin-top: 100px;
}

.sjsu-logo, .ld-logo {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	margin-left: -75px;
	background-color: white;
	border: 10px solid white;
}

.graduation-cap-image {
	height: 100%;
}

.graduation-cap {
	height: 35px;
	width: 35px;
	margin-left: -70px;
	margin-top: 20px;
}

.university {
	margin-left: -100px;
	margin-top: 10px;
}

.university-name {
	font-size: xx-large;
}

.university-address {
	font-weight: lighter;
}

.graduation-date {
	margin-top: 15px;
}

.degree, .major {
	font-size: large;
}

.skills {
	height: 70vh;
	background-color: #F7F8FA;
}

.skills-heading, .skills {
	margin-top: 50px;
	width: 100%;
}

.skills-header-container {
	width: 100%;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 30px;
}

.skills-header {
	display: inline-block;
}

.skill {
	margin: 40px 0px 0px 50px;
	background-color: white;
	width: 100%;
	height: 70%;
}

.skills-icon {
	height: 60px;
	text-align: center;
}

.devops-icon,
.ml-icon,
.fullstack-icon,
.others-icon {
	height: 90px;
	width: 90px;
	margin-top: -45px;
}

.skill-heading {
	text-align: center;
}

.main-skills ul {
	list-style: none;
	padding: 10px 20px;
}

.main-skills ul li:before {
	content: '✓';
	color: #99CCFF;
	margin-right: 5px;
}